body{
width: 400px;
}

.clearfix::after {
	content:"";
	display:block;
	clear:both;
}

.content1{
	float:left;
}

.content2{
	width: 250px;
	float:left;
}

.red{
	background: #ff0000;
	height:100px;
}

.green{
	background: #00ff51;
	height:250px;
	width:150px;
}

.pink{
	background: #ff9e6b;
	height:150px;
	width:100px;
	float:right;
}

.purple{
	background: #cc00db;
	height:50px;
	width:150px;
}

.blue{
	background: #0093b7;
	height:100px;
	width:150px;
}

.blown{
	background: #8e2727;
	height:100px;
	width:250px;
}

.yellow{
	background: #fff700;
	height:100px;
}

