
.clearfix::after{
	content:"";
	display:block;
	clear:both;
}

.red{
	background:#ff0000;
	height:100px;
	width:400px;
}

.green{
	background:#00ff51;
	height:250px;
	width:150px;
	float:left;
}

.contents1{
	float:left;
}

.contents2{
	width:150px;
	float:left;
}

.purple{
	background: #cc00db;
	height:50px;
}

.blue{
	background: #0093b7;
	height:100px;
}

.pink{
	background: #ff9e6b;
	height:150px;
	width:100px;
	float:left;
}

.brown{
	background: #8e2727;
	height:100px;
}

.yellow{
	background: #fff700;
	height:100px;
	width:400px;
}

